body{font-family: kai;}
body > div{margin-left: 5px; margin-right: 5px;}
input{background-color: snow;}

h3{height: 30px; line-height: 30px; margin: 0; text-align: center; margin-bottom: 0; background-color: rgba(200, 200, 200, 0.4); color: white; position: fixed; top: 0; width: 100%;}

.input-item{padding: 10px; text-align: center;}
.input-item input{width: 70%; display: inline-block;}
.input-item label{display: inline-block; width: 60px;}

#save-button{width: 80%; height: 40px; line-height: 40px; border: 1px solid azure; background-color: rgba(255, 105, 180, 0.8); color: white;}

button, input{font-family: kai;}

td{font-size: 0.7rem; padding: 7px 0px;}

#message{transition: opacity 1s ease-out;}

.show{opacity: 1;}
.hide{opacity: 0;}

.delete-item{color: red;}

label, td, th, h4, p{color: white;}

body{background-attachment: fixed; background-size: initial; background-position: center;}

#bg-canvas{width: 100%; height: 100vh; position: fixed; top: 0; z-index: -1;}

.selected{background-color: rgba(100, 149, 237, 0.6);}

#id-input{display: none;}